<div class="row">
    <div class="col s12">
        <div class="card horizontal">
          <div class="card-stacked">
            <a href="/post/{{id}}"><div class="card-title center-align">{{post.title}}</div></a>
            <div class="card-content">
              <p>{{post.body}}</p>
            </div>
            <div class="card-action nav-wrapper">
              <a href="/post/{{id}}">View Post and Comment(s)</a>
              <span class="right">Posted By {{user.name}} On {{format_time post.date_created}}</span>
            </div>
          </div>
        </div>
    </div>
</div>